.list-group {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}


.active {
  background: rgb(15, 0, 231) !important;
  border-color: rgb(15, 0, 231);
}


.list-group-item {
  font-weight: 500;
}

